.Container {
    width: 100%;
    padding: 0 15%;
    box-sizing: border-box;
    text-align: center;
  }
  body {
    background: #ADD8E6;
  }
  h2 {
    margin-top: 0.25em;
  }
  div {
    margin: 2em auto;
    padding: 0 auto;
    width : 50%;
    background: white;
    border-radius: 8px;
  }
  .Form {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .Form input {
    padding: 5px;
    margin: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(119, 119, 119, 0.5);
  }
  .center {
    margin: auto;
    width: 80%;
    border: 2px solid #aeafad;
    padding: 10px;
    box-shadow: 0 20px 50px rgba(0,255,255,0,15);
  }